@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Quicksand:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
  --backgroundColor: linear-gradient(180.96deg, #000000 0.82%, #4A2800 129.1%);
  --primaryColor: #9B64E1;
  --mainColor: #FFF;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background */
.container {
  position: relative;
  background: var(--backgroundColor);
  width: 100%;
  height: 180vh;
  background-size: 1440px 5382px;
}

.circleBackground-1 {
  position: absolute;
  z-index: 1;
  left: -512px;
  width: 999px;
  height: 999px;
  margin: 205px 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.circleBackground-2 {
  position: absolute;
  width: 857px;
  height: 857px;
  top: 7%;
  left: 7%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.circleBackground-3 {
  position: relative;
  top: 12%;
  left: 12%;
  color: white;
  width: 650px;
  height: 650px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.circleBackground-4 {
  position: relative;
  top: 17%;
  left: 17%;
  color: white;
  width: 434px;
  height: 434px;
  background: rgba(255, 255, 255);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Main Content */
.mainContent {
  position: relative;
  z-index: 2;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 44px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  color: var(--primaryColor);
  font-family: 'Poppins', sans-serif;
  font-size: 26px;
  font-weight: bold;
}

.navbar-link {
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 63px;
  padding: 35px 15px;
  gap: 30px;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.navbar-link i {
  font-size: 30px;
  color: var(--mainColor);
  cursor: pointer;
}

.navbar-link i.selected {
  filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(0px 7px 4px rgba(0, 0, 0, 0.5));
}